<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.kalabox.bill.plist</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/bill</string>
        <string>-d</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/kalabox.bill.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/kalabox.bill.error.log</string>
    <key>Debug</key>
    <true/>
</dict>
</plist>
